<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kang.chan_ce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/chance_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/chance_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chance">
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanActivity"
            android:exported="true" />
        <activity
            android:name=".QrActivity"
            android:exported="true" />
        <activity
            android:name=".MoreActivity"
            android:exported="true" />
        <activity
            android:name=".SeemoreActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".SearchActivity" android:label="검색 페이지"/>
        <activity android:name=".StoreDetailActivity" android:label="스토어 상세 페이지"/>
        <activity android:name=".SubscriptionActivity" android:label="구독 설정 페이지"/>
        <activity android:name=".ReceiptActivity" android:label="결제 페이지"/>
        <activity android:name=".AccountActivity" android:label="입금 페이지"/>
        <activity android:name=".MypageActivity" android:label="마이 페이지"/>
<!--        <meta-data android:name="com.kakao.sdk.AppKey" android:value=""/>-->

    </application>

</manifest>